h1{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 60px;
}

.program{
	padding: 50px;

}

p{
	font-size: 26px;
	font-weight: normal;
	
	


}

span{
	font-weight: bold;


}