body{
	font-size: 20px;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
}

.headr{
	margin-top: 0;
	height: 210px;
	background-color: lightsteelblue;
}

h1{
	font-family: cursive;
	font-size: 42px;
	color: maroon;
	padding-left: 50px;
	padding-top: 10px;
}

.headr img{
	float: left;
	width:150px;
	height: 190px;
	padding:10px 80px;
	border-radius: 90px;
}

.cont{
	float: right;
	font-style: italic;
	padding-right: 40px;
	padding-top: 10px;
}

h2{
	text-align: center;
	color: #FF4136;
	font-size: 30px;
}

p{
	
	padding-left: 50px;
}


.kol1{
	padding-left: 10px;
	float: left; 
	width: 49%;
	
}

.kol2{
	padding-left: 10px;
	float: right; 
	width: 49%;
	}


#more ul{
	padding-left: 60px;
}

.menu{
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li{
	display: inline-block;
	margin: 5px;
	white-space: nowrap;
}

.menu a{
	color: #0088cc;
	display: block;
	padding: 8px 10px;
	background-color: #f5f5f5;
	border-left: 1px solid #e5e5e5;
	margin-left: -1px;
}

.menu a:hover{
	background-color: #eeeeee;
}
