*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	min-height: 100%;
}


body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: normal;	
	font-size: 13px;
	min-height: 100%;
	background: linear-gradient(to bottom, #00A3FF, #FFF94C) 0 0 no-repeat;
}

.news-wrapper {
	max-width: 800px;
	
	margin: 50px auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
}


h1 {	
	font-size: 36px;	
	text-transform: uppercase;
	color: white;
	text-align: center;
	margin-bottom: 50px;
}

span{
	padding-left: 5px;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

article {
	background: white;
	width: 360px;	
	max-height: 130px;
	border-radius: 4px;
	margin-bottom: 30px;
}

article .image-holder {
	width: 37.22%;
}

article .content-holder {
	width: 62.78%;
	padding: 15px 15px 15px 20px;
}

article .content-holder h3 {
	text-transform: uppercase;
	font-size: 11px;
	color: #00AFEF;
	padding-bottom: 12px;
}

article .content-holder p {
	font-size: 12px;
	text-align: left;
}

.container{
	width: 100%;
}

.show-more{
	display: block;
	width: 40%;
	float: left;
	margin-top: 11px;
	color: #3C8204;
	
}

.time-icon {
	display: block;
	float: right;
	margin-top: 12px;
	color: #3C8204;
	font-size: 12px;
	color: darkgrey;
	
}

article div {
	float: left;
}

article:nth-child(2), article:nth-child(5){
	background-image: url("../img/img1_1.jpg");
	background-size: cover;
}

article .content-holder.big-image{
	width: 100%;
	color: white;
	font-size: 30px;
}

article .content-holder.big-image p{
	color: white;
	font-size: 20px;
}

article .content-holder.big-image .container a{
	color: white;
	font-size: 15px;
	margin-top: 6px;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.header{
	padding: 10px;
	background-color: white;
	min-height: 10%;
}

.header .image-holder{
	float: left;
	margin-left: 7%;
}

.header ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-right: 7%;
	width: 50%;
	min-height: 50px;
	float: right;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	align-content: space-around;
	align-items: center;

}

.header a{
	text-decoration: none;
	color: #00A3FF;
}

.footer{
	position: fixed;
  	left: 0;
  	bottom: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	align-content: space-around;
	align-items: center;
	background-color: #3f3f3f;
	height: 80px;
	color: white;

}
