
*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	
}

.back{
	
	width: 100%;
	background-image: linear-gradient(#4169E1, #FFFF00);
	padding-bottom: 100px;
}

.title-news{
	padding-top: 80px;
	margin-bottom: 50px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 36px;
	text-align: center;
	color: white;
	letter-spacing: 0.01px;


}
.new{
	
	border-radius: 4px;
	background-color: white;
	margin: 30px auto;
	width: 360px;
	height: 130px;
	box-shadow: 0px 5px 1px grey;
	padding-bottom: 0px;

}

.new img{
	
	float: left;
	width: 134px;
	height: 130px;
	padding-right: 15px;
}
h2{
	font-family: 'PT Sans', sans-serif;
	padding-top: 15px;
	color: blue;
	text-transform: uppercase;
	font-size: 11px;
	margin-top: 15px;
	margin-left: 15px;
}

.new .new-text-1{
	
	margin: 10px 15px 20px 0px;
	font-size: 11px;
}

.new .new-text-2{
	
	margin: 10px 15px 15px 15px;
	font-size: 12px;
}

.new a{
	display: block;
	color: green;
	padding-bottom: 20px;
	font-size: 11px;
	font-weight: bold;

}

.big_new{
	background-image: url("../images/img1_1.jpg");
	background-size: cover;
	width: 330px;
	height: 152px;
	margin: 20px auto;
	padding-bottom: 0;
	border-radius: 4px;
	box-shadow: 0px 2px 5px #556B2F;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding-top: 30px;
	padding-left: 30px;
	
}

.big_new a{
	display: block;
	color: white;
	font-size: 12px;
	padding-top: 15px;
}
